@charset "UTF-8";
/* Reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* end Reset */
/*Header Start*/
.container__header {
  background: url(../../images/info/background.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vw;
  margin: 0;
  position: relative;
}
.container__header > h1 {
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 3px #000000;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  background-color: #eff5f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 32px;
  opacity: 0.8;
}
.menu a {
  color: #242222;
  padding: 28px 0;
  position: relative;
  font-weight: 700;
}
.menu a:hover {
  color: #016956;
}

.navbar {
  font-size: 20px;
}
.navbar ul {
  display: flex;
  gap: 20px;
}

.container__logo {
  position: relative;
  top: 200px;
  display: block;
}

@media (max-width: 1112px) {
  .container__header > h1 {
    font-size: 4rem;
  }
}
@media (max-width: 960px) {
  .container__header > h1 {
    font-size: 3rem;
  }
}
/*Header End*/
/*Sobre Start*/
.container-wrapper {
  margin-top: 2rem;
  width: 100%;
}
.container-wrapper__sobre-row {
  margin: 2rem;
}
.container-wrapper__sobre {
  padding: 5px 0 10px 10px;
}
.container-wrapper__sobre > h2 {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container-wrapper__row {
  background-color: #B9AD81;
  width: 370px;
  height: 4px;
  margin-left: 3px;
}
.container-wrapper__paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 15px 0 30px;
}
.container-wrapper__image {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.container-wrapper__image {
  margin: 0 15px 0 30px;
  display: flex;
  width: 100%;
  flex: 1;
}
.container-wrapper__main {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.paragraph {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
  color: #6B6666;
  text-align: justify;
}

@media (max-width: 1470px) {
  .paragraph {
    line-height: initial;
  }
  .container-wrapper__image {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 960px) {
  .container-wrapper__image,
  .container-wrapper__paragraph {
    margin: 0 20px 0 20px;
  }
  .container-wrapper__image > p,
  .container-wrapper__paragraph > p {
    font-size: 20px;
    line-height: initial;
  }
  .container-wrapper__main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  .container__image {
    width: 80%;
  }
  .paragraph {
    margin: 1rem;
  }
}
/*Start End*/
/*Acomodaçoes start*/
.container__sobre-row {
  margin: 2rem;
  padding: 2rem 0 0 0;
}
.container__info-row {
  margin: 2rem;
}
.container__sobre {
  padding: 5px 0 10px 10px;
}
.container__sobre > h2 {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container__row {
  background-color: #B9AD81;
  width: 350px;
  height: 4px;
  margin-left: 3px;
}
.container__info {
  margin-top: 6rem;
  height: 660px;
  background-color: #eff5f0;
}
.container__image {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.container__sobre-main {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.container__paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 15px 0 30px;
}

@media (max-width: 1470px) {
  .paragraph {
    line-height: initial;
  }
  .container__image {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1470px) and (max-width: 960px) {
  .container__info {
    height: 35vh;
  }
  .container__sobre-main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 1470px) {
  .container-wrapper__image {
    width: 80%;
  }
}
/*Acomodações end*/
/*Feedback start*/
.container {
  margin-top: 2rem;
  width: 100%;
}
.container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  height: 60vh;
}
.container-box__people {
  background-color: #eff5f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  border-radius: 20px;
  height: 370px;
  box-shadow: 5px 5px 10px #6B6666;
}
.container-box__paragraph {
  width: 180px;
  text-align: start;
}
.container-box__paragraph > p {
  line-height: 20px;
}
.container-box__dados {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-box__image > img {
  border-radius: 50%;
}
.container-box__info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container__info-row {
  margin: 2rem 0 2rem 1rem;
}
.container__info-feedback {
  padding: 5px 0 10px 10px;
}
.container__info-feedback > h2 {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container__row-feedback {
  background-color: #B9AD81;
  width: 480px;
  height: 4px;
  margin-left: 3px;
}

@media (max-width: 1470px) {
  .container-box {
    height: 500px;
    gap: 100px;
  }
}
@media (max-width: 960px) {
  .container-box {
    height: 35vh;
    gap: 100px;
  }
}
@media (max-width: 750px) {
  .container-box {
    display: flex;
    flex-direction: column;
    height: 900px;
    gap: 30px;
  }
  .container__footer-logo {
    width: 200px;
    margin-left: 20px;
  }
  .container__form {
    margin-right: 20px;
  }
}
/*Feedback end*/
/*Footer start*/
.footer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.footer__div {
  background-color: #000;
  height: 1px;
  width: 90%;
}

.container__footer {
  display: flex;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}
.container__contato-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 20px 0 20px 0;
}
.container__form {
  display: flex;
  flex-direction: column;
}
.container__form > form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container__form > form > input {
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 15px;
}
.container__form > form > button {
  background-color: #016956;
  color: #fff;
  margin-top: 5px;
  border-radius: 15px;
  border: none;
  width: 60px;
  height: 30px;
}
.container__copy {
  background-color: #eff5f0;
  margin-top: 2rem;
  text-align: center;
  height: 30px;
}

/*Footer end*/

/*# sourceMappingURL=style.css.map */
