// Mixins

@mixin icon-h2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

@mixin paragraph {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 300;
    color: #6B6666;
    text-align: justify;
}


@mixin responsive($device) {
  @if $device == desktop {
    @media (max-width: 1120px) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $device == mobile {
    @media (max-width: 750px) {
      @content;
    }
  }
}