// VARIABLES

$background-color: #ffffff;
$color-background: #eff5f0;
$primary-color: #B9AD81;
$secondary-color: #016956;
$bg-image: url(../../images/info/background.png );
$font: 'Inter', sans-serif;
$sombraPadrao: 2px 2px 3px #000000;
$marginPadrao: 2rem;
$gapPadrao: 2rem;
$heightPadrao: 600px 
